.commentListBody {
  display: flex;
  width: 1480px;
  padding: 40px 0px 50px 400px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.commentListContainer {
  display: flex;
  width: 1280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
