.app {
  width: 100%;
  padding-top: 20px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fafafa;
}

/* 이미지 그리드 레이아웃 */
.imageGrid {
  display: grid;
  align-items: space-between;
  padding: 120px;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1/1; /* 정사각형 비율 유지 */
  overflow: hidden;
}

.catImage {
  width: 95%;
  height: 95%;
  object-fit: cover;
  transition: transform 0.3s ease;
  box-shadow: 1px 1px 10px gray;
}

.catImage:hover {
  transform: scale(1.03);
}

/* 로딩 인디케이터 */
.loadingIndicator,
.endMessage {
  text-align: center;
  padding: 20px;
  color: #8e8e8e;
  grid-column: 1 / -1;
}
