.Layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 15px 0px 20px 0px;
}

.mainHeadText {
  color: gray/1000;
  font-family: Pretendard Variable;
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0px;
}

.searchBarFrame {
  display: flex;
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  padding: 0px 10px;
}

.searchBarInnerBody {
  width: 100%;
}

.searchBarContainer {
  display: flex;
  padding: 15px 0px 0px 0px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.datePicker,
.searchBar,
.newPost {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.searchBar {
  flex: 1 0 0;
  justify-content: left;
}
