.Layout {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  align-items: center;
  padding: 15px 0px 20px 0px;
  /* background-color: #fafafa; */
}

.ListContainer {
  display: flex;
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  padding: 24px 48px;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.ListHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.HeaderNumber,
.HeaderTitle,
.HeaderWriter,
.HeaderDate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 700;
}

.HeaderNumber {
  width: 60px;
}

.HeaderTitle {
  flex: 1 0 0;
  justify-content: left;
}

.HeaderWriter,
.HeaderDate {
  width: 130px;
}

.ListItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
}
.ListItem:hover {
  background-color: rgb(200, 200, 200);
}

.ListItemNumber,
.ContentNumber,
.ContentWriter,
.ContentDate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.ContentNumber {
  width: 64px;
  color: var(--Gray-50, var(--gray-500, #919191));
  font-size: 14px;
}

.ContentTitle {
  overflow: hidden;
  color: var(--Gray-90, #1c1c1c);
  font-size: 14px;
  display: flex;

  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  justify-content: left;
}

.ContentWriter {
  width: 100px;
  color: var(--Gray-80, var(--gray-800, #333));
  font-size: 14px;
}

.ContentDate {
  width: 100px;
  color: var(--Gray-50, var(--gray-500, #919191));
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}
