.darkContainer {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  padding: 2rem;
}

.darkFormSurface {
  width: 100%;
  max-width: 800px;
  background: rgb(246, 246, 246);
  border-radius: 20px;
  padding: 2.5rem;
  box-shadow:
    12px 12px 24px rgb(233, 233, 233),
    -8px -8px 16px rgb(231, 231, 231);
}

.formTitle {
  color: rgb(31, 31, 31);
  font-family: Pretendard Variable;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: start;
  text-shadow: 2px 2px 4px rgba(94, 94, 94, 0.5);
}

.inputGroup {
  margin-bottom: 1.5rem;
}

.labelRow {
  display: flex;
  /* gap: 310px; */
  /* margin-bottom: 0.8rem; */
}

.inputRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.inputColumn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem; /* 라벨과 입력 필드 간격 */
}

.inputLabel {
  font-family: Pretendard Variable;
  color: rgb(35, 35, 35);
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  position: relative;
  display: block;
}
.inputLabel::after {
  /* content: ""; */
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-right: 2px solid #9e9e9e;
  border-bottom: 2px solid #9e9e9e;
  rotate: -45deg;
}
.darkInput {
  width: 100%;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  color: #e0e0e0;
  box-shadow:
    inset 5px 5px 10px rgb(169, 169, 169),
    inset -5px -5px 10px rgb(201, 201, 201);
  transition: all 0.3s ease;
}

.darkInput::placeholder {
  color: #6b6b6b;
}

.darkInput:focus {
  box-shadow:
    inset 3px 3px 6px #202020,
    inset -3px -3px 6px #3a3a3a;
  outline: none;
}

.darkTextarea {
  composes: darkInput;
  min-height: 150px;
  resize: vertical;
  line-height: 1.6;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.darkSubmitButton {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border-radius: 12px;
  background: #3a3a3a;
  color: #e0e0e0;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow:
    6px 6px 12px #202020,
    -4px -4px 8px #545454;
  cursor: pointer;
  transition: all 0.3s ease;
}

.darkSubmitButton:hover {
  box-shadow:
    4px 4px 8px #202020,
    -2px -2px 4px #545454;
}

.darkSubmitButton:active {
  box-shadow:
    inset 5px 5px 10px #202020,
    inset -5px -5px 10px #545454;
}

.darkCancelButton {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border-radius: 12px;
  background: #e0e0e0;
  color: rgb(10, 10, 10);
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow:
    6px 6px 12px rgb(133, 133, 133),
    -4px -4px 8px rgb(136, 136, 136);
  cursor: pointer;
  transition: all 0.3s ease;
}
.darkCancelButton:hover {
  box-shadow:
    4px 4px 8px #202020,
    -2px -2px 4px #545454;
}
.darkCancelButton:active {
  box-shadow:
    inset 5px 5px 10px #202020,
    inset -5px -5px 10px #545454;
}

@media (max-width: 768px) {
  .inputRow {
    grid-template-columns: 1fr;
  }

  .darkFormSurface {
    padding: 1.5rem;
  }

  .formTitle {
    font-size: 1.5rem;
  }
  .inputColumn {
    gap: 0.5rem;
  }

  .inputLabel {
    font-size: 1rem;
  }
}

/* 새로운 게시글 작성 칸 스타일 */
.imageUploadSection {
  margin-bottom: 20px;
}

.imageUploadInput {
  display: block;
  margin-top: 8px;
  padding: 1rem;
  border: none;
  border-radius: 12px;
  background: rgb(246, 246, 246);
  color: rgb(103, 103, 103);
  box-shadow:
    inset 5px 5px 10px rgb(169, 169, 169),
    inset -5px -5px 10px rgb(201, 201, 201);
}

.zipCodeButton {
  padding: 1rem;
  border: none;
  border-radius: 12px;
  background: #3a3a3a;
  color: #e0e0e0;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow:
    6px 6px 12px #202020,
    -4px -4px 8px #545454;
  cursor: pointer;
  transition: all 0.3s ease;
}
.addressZipcode {
  display: flex;
  flex-direction: row;
  gap: 0px 20px;
}

.addressSection {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

.addressInputs {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

.zipCodeInput,
.basicAddressInput,
.detailAddressInput {
  padding: 1rem;
  border: none;
  border-radius: 12px;
  background: rgb(246, 246, 246);
  color: rgb(103, 103, 103);
  box-shadow:
    inset 5px 5px 10px rgb(169, 169, 169),
    inset -5px -5px 10px rgb(201, 201, 201);
  transition: all 0.3s ease;
}

.zipCodeInput:focus {
  box-shadow:
    inset 3px 3px 6px #202020,
    inset -3px -3px 6px #3a3a3a;
  outline: none;
}
.basicAddressInput:focus {
  box-shadow:
    inset 3px 3px 6px #202020,
    inset -3px -3px 6px #3a3a3a;
  outline: none;
}
.detailAddressInput:focus {
  box-shadow:
    inset 3px 3px 6px #202020,
    inset -3px -3px 6px #3a3a3a;
  outline: none;
}

.youtubeLinkSection {
  margin-bottom: 20px;
}

.youtubeLinkInput {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 12px;
  background: rgb(246, 246, 246);
  color: rgb(103, 103, 103);
  box-shadow:
    inset 5px 5px 10px rgb(169, 169, 169),
    inset -5px -5px 10px rgb(201, 201, 201);
  transition: all 0.3s ease;
}
.youtubeLinkInput:focus {
  box-shadow:
    inset 3px 3px 6px #202020,
    inset -3px -3px 6px #3a3a3a;
  outline: none;
}
