.Layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUpFrame {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  gap: 25px;
}

.SignUpText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.SignUpTitle {
  font-size: 18px;
  font-weight: 600;
}

.SignUpHello {
  font-size: 14px;
  font-weight: 400;
}

.SignUpInputContainer {
  margin-bottom: 5px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  font-weight: 320;
}
.SignUpButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ImageFrame {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.InputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
