.commentListBody {
  display: flex;
  width: 100%;
  padding: 40px 0px 0px 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.commentListContainer {
  display: flex;
  width: 100%;
  max-width: 1280px;
  flex-direction: column;
  gap: 40px;
}
